" default settings
set surround
set which-key
let g:WhichKey_ShowVimActions = "true"
set notimeout
set argtextobj
set sneak
set exchange
set quickscope
let g:qs_highlight_on_keys = ['f', 'F', 't', 'T']

Plug 'machakann/vim-highlightedyank'
let g:highlightedyank_highlight_duration = "300"


set number relativenumber
set incsearch
set idearefactormode=keep
set ideajoin
set visualbell
set noerrorbells
set scrolloff=8
set ignorecase smartcase

let mapleader = " "

" multiple cursors
set multiple-cursors
Plug 'terryma/vim-multiple-cursors'
map mn <A-n>
map ms <A-x>
map mp <A-p>

" NERDTree
set NERDTree
let g:NERDTreeMapActivateNode='l'
let g:NERDTreeMapJumpParent='h'


" key mappings
" ideavimrc
nmap \e :e ~/.ideavimrc<CR>
nmap \r :action IdeaVim.ReloadVimRc.reload<CR>

" general
nmap <leader>w <action>(SaveAll)
nmap <C-s> <action>(SaveAll)
nmap <leader>e :NERDTree<CR>
nmap <leader>/ <action>(CommentByLineComment)
vmap <leader>/ <action>(CommentByLineComment)

" window navigation"
nmap <C-h> <C-w>h
nmap <C-j> <C-w>j
nmap <C-k> <C-w>k
nmap <C-l> <C-w>l

" finding
nmap <leader>ff <action>(GotoFile)
nmap <leader>fp <action>(RecentProjectListGroup)
nmap <leader>sw <action>(FindInPath)
nmap <leader>sc viw <action>(FindInPath)
nmap <leader>s" :reg<CR>
nmap <leader>fr <action>(RecentFiles)
nmap <leader>sa <action>(GotoAction)
nmap <leader>su <action>(ShowUsages)
nmap <leader>xu <action>(FindUsages)
nmap <leader>sl <action>(RecentLocations)
nmap <leader>sm <action>(ShowBookmarks)

" go ...
nmap gI <action>(GotoImplementation)
nmap gi <action>(GotoImplementation)
nmap gd <action>(GotoDeclaration)
nmap gD <action>(GotoTypeDeclaration)
nmap gs <action>(GotoSuperMethod)

"terminal"
nmap <leader>ft :action Terminal.OpenInTerminal<CR>

" tabs/buffers
nmap <leader>bc <action>(CloseEditor)
nmap <leader>bd <action>(CloseEditor)
nmap [b <action>(PreviousTab)
nmap ]b <action>(NextTab)
nmap H <action>(PreviousTab)
nmap L <action>(NextTab)
nmap <leader>bD <action>(CloseAllEditorsButActive)
nmap <leader>bC <action>(CloseAllEditorsButActive)

" git
nmap <leader>gg <action>(Git.Menu)
nmap <leader>gb <action>(Git.Branches)
nmap <leader>ghr <action>(Vcs.RollbackChangedLines)
nmap <leader>gc <action>(Vcs.ShowTabbedFileHistory)
nmap <leader>ghp <action>(VcsShowCurrentChangeMarker)
nmap ]g <action>(VcsShowNextChangeMarker)
nmap [g <action>(VcsShowPrevChangeMarker)

" lsp/code editing
nmap <leader>cg <action>(GotoSymbol)
nmap <leader>sS <action>(GotoSymbol)
nmap <leader>ss <action>(FileStructurePopup)
nmap <leader>xs <action>(ActivateStructureToolWindow)

nmap <leader>ca <action>(ShowIntentionActions)
nmap <leader>cr <action>(RenameElement)
nmap <leader>cR <action>(RefactoringMenu)
nmap <C-r>f <action>(RefactoringMenu)
nmap <leader>ci <action>(Generate)
nmap <leader>cf <action>(ReformatCode)
vmap <leader>cf <action>(ReformatCode)
nmap <leader>cm <action>(Move)
nmap <leader>fn <action>(NewScratchFile)

nmap gK <action>(ParameterInfo)
nmap gk <action>(ParameterInfo)
nmap <C-k> <action>(ParameterInfo)
imap <C-k> <action>(ParameterInfo)
nmap <C-p> <action>(ParameterInfo.GoToPreviousSignature)
imap <C-p> <action>(ParameterInfo.GoToPreviousSignature)
nmap <leader>cu <action>(HighlightUsagesInFile)

nmap <leader>xd <action>(Rider.ProblemsView.ErrorsInSolution)
nmap D <action>(ShowErrorDescription)

" navigation
nmap [m <action>(MethodUp)
nmap ]m <action>(MethodDown)
nnoremap ]d :action GotoNextError<CR>
nnoremap [d :action GotoPreviousError<CR>
nnoremap ]D :action ReSharperGotoNextErrorInSolution<CR>
nnoremap [D :action ReSharperGotoPrevErrorInSolution<CR>
nnoremap ]c :action VcsShowNextChangeMarker<CR>
nnoremap [c :action VcsShowPrevChangeMarker<CR>
nnoremap <C-o> :action Back<CR>
nnoremap <C-i> :action Forward<CR>

" debugging
nmap <leader>db :action ToggleLineBreakpoint<CR>
nmap <leader>dc :action Debug.Breakpoint.View<CR>
nmap <leader>dd :action ChooseDebugConfiguration<CR>
nmap <leader>dr :action ChooseRunConfiguration<CR>

" ai
nnoremap <leader>qa :action com.github.simiacryptus.aicoder.EditorMenu<CR>
vmap <leader>qa :action com.github.simiacryptus.aicoder.EditorMenu<CR>

" system clipboard
vmap <leader>y "+y
vmap <leader>d "_d
nmap <leader>d "_d
nmap <leader>y "+y
nmap <leader>p "+p
nmap <leader>P "+P
vmap <leader>p "+p
vmap <leader>P "+P
