" default settings
set surround
set which-key
let g:WhichKey_ShowVimActions = "true"
set notimeout

set number relativenumber
set incsearch
set idearefactormode=keep
set ideajoin
set easymotion
set visualbell
set noerrorbells
set scrolloff=8
set ignorecase smartcase

let mapleader = " "

" multiple cursors
set multiple-cursors
Plug 'terryma/vim-multiple-cursors'
map mn <A-n>
map ms <A-x>
map mp <A-p>

" NERDTree
set NERDTree
let g:NERDTreeMapActivateNode='l'
let g:NERDTreeMapJumpParent='h'


" key mappings
" ideavimrc
nmap \e :e ~/.ideavimrc<CR>
nmap \r :action IdeaVim.ReloadVimRc.reload<CR>

" general
nmap <leader>w <action>(SaveAll)
nmap <leader>e :NERDTree<CR>
nmap <leader>/ <action>(CommentByLineComment)
vmap <leader>/ <action>(CommentByLineComment)

" finding
nmap <leader>ff <action>(GotoFile)
nmap <leader>fw <action>(FindInPath)
nmap <leader>fc viw <action>(FindInPath)
nmap <leader>fr :reg<CR>
nmap <leader>fo <action>(RecentFiles)
nmap <leader>fa <action>(GotoAction)
nmap <leader>fu <action>(ShowUsages)
nmap <leader>fU <action>(FindUsages)
nmap <leader>fl <action>(RecentLocations)
nmap <leader>fd <action>(Rider.ProblemsView.ErrorsInSolution)

" go ...
nmap gI <action>(GotoImplementation)
nmap gi <action>(GotoImplementation)
nmap gd <action>(GotoDeclaration)
nmap gD <action>(GotoTypeDeclaration)
nmap gs <action>(GotoSuperMethod)

"terminal"
nmap <leader>th :action Terminal.OpenInTerminal<CR>

" tabs/buffers
nmap <leader>c <action>(CloseEditor)
nmap [b <action>(PreviousTab)
nmap ]b <action>(NextTab)
nmap <leader>bc <action>(CloseAllEditorsButActive)
nmap <leader>bC <action>(CloseAllEditors)

" git
nmap <leader>gg <action>(Git.Menu)
nmap <leader>gb <action>(Git.Branches)
nmap <leader>gh <action>(Vcs.RollbackChangedLines)
nmap <leader>gc <action>(Vcs.ShowTabbedFileHistory)
nmap <leader>gp <action>(VcsShowCurrentChangeMarker)
nmap ]g <action>(VcsShowNextChangeMarker)
nmap [g <action>(VcsShowPrevChangeMarker)


" lsp/code editing
nmap <leader>lG <action>(GotoSymbol)
nmap <leader>lg <action>(GotoSymbol)
nmap <leader>ls <action>(FileStructurePopup)
nmap <leader>la <action>(ShowIntentionActions)
nmap <leader>lS <action>(ActivateStructureToolWindow)
nmap <leader>lr <action>(RenameElement)
nmap <leader>lR <action>(RefactoringMenu)
nmap <C-r>f <action>(RefactoringMenu)
nmap <leader>lh <action>(ParameterInfo)
nmap <C-n> <action>(ParameterInfo.GoToPreviousSignature)
nmap <leader>lD <action>(Rider.ProblemsView.ErrorsInSolution)
nmap D <action>(ShowErrorDescription)
nmap <leader>li <action>(Generate)
nmap <leader>lf <action>(ReformatCode)
vmap <leader>lf <action>(ReformatCode)

" navigation
nmap [m <action>(MethodUp)
nmap ]m <action>(MethodDown)
nnoremap ]d :action GotoNextError<CR>
nnoremap [d :action GotoPreviousError<CR>
nnoremap ]c :action VcsShowNextChangeMarker<CR>
nnoremap [c :action VcsShowPrevChangeMarker<CR>
nnoremap <C-o> :action Back<CR>
nnoremap <C-i> :action Forward<CR>

" ai
nnoremap <leader>qa :action com.github.simiacryptus.aicoder.EditorMenu<CR>
vmap <leader>qa :action com.github.simiacryptus.aicoder.EditorMenu<CR>

" system clipboard
vmap <leader>y "+y
vmap <leader>d "_d
nmap <leader>d "_d
nmap <leader>y "+y
nmap <leader>p "+p
nmap <leader>P "+P
vmap <leader>p "+p
vmap <leader>P "+P
